#macos
.DS_Store

#php
.phpunit.result.cache

#joomla
.htaccess
.htaccess.old
.htaccess.orig
.htaccess.orig.old
.htaccess.orig.orig

#composer
composer.lock

#npm
node_modules

#yarn
yarn.lock

*.zip

.vscode
規劃.md
